html {
  width: 100%;
  height: 100%;
}

body {
  width: 99%;
  height: 98%;
  background: rgb(245, 245, 245);
  background: -webkit-linear-gradient(right, #8e9eab, #eef2f3);
  background-size: contain;
  display: block;
}

#mainContainer {
  width: auto;
  height: 50%;
  border: 1px solid red;
}

#gridContainer {
  height: 100%;
  overflow: scroll;
}

#participantsContainer {
  margin-bottom: 1em;
}

span {
  font-weight: bold;
}

*:focus {
  outline: none;
}

/**************
  Handsontable
***************/

.topContainer {
  display: block;
  color: white;
  background-color: rgb(31, 120, 81);
  height: 80px;
  width: auto;
  padding: 10px 20px 20px 20px;
  margin-bottom: 1em;
  font-family: 'Roboto', sans-serif;
}

/* Hides the text under the table */

.handsontable {
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.handsontable table thead th {
  color: rgb(35, 35, 35);
  background-color: rgb(248, 248, 248);
  padding: 3px 20px 0px 20px;
}

.handsontable table tr th {
  color: rgb(35, 35, 35);
  font-size: 1.3em;
  background-color: rgb(248, 248, 248);
}

#hot-display-license-info {
  display: none;
}

/* Alternates the row colors */

table.htCore tbody tr td {
  text-align: center;
  font-size: 1.2em;
  vertical-align: middle;
}

.topText {
  font-size: 35px;
}
