html {
  width: 100%;
  height: 100%;
}

body {
  width: 99%;
  height: 98%;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 94%, rgba(237, 237, 237, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(94%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
  background-size: contain;
}

input {
  font-size: 1em;
}

label {
  width: 30%;
  padding-right: 20px;
  text-align: right;
  margin-right: 10px;
}

select {
  padding-left: 50px;
  font-size: 0.8em;
}

form {
  width: auto;
  height: auto;
  outline: none;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

input {
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
}

fieldset > div {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

fieldset {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.mainContainer {
  left: 0;
  position: absolute;
  text-align: center;
  margin-top: -12%;
  top: 50%;
  width: 95%;
  margin-left: 2%;
  border: none;
}

.submitButton {
  position: relative;
  cursor: pointer;
  border: none;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  margin-right: 1em;
  margin-left: 1em;
  font-weight: lighter;
  border-radius: 8px;
  border-width: 8px 6px 0;
  border-bottom-width: 0;
  padding: 10px 30px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  color: #ffffff;
  background-color: #1ABC9C;
  white-space: normal;
}

.createButton {
  position: relative;
  cursor: pointer;
  border: none;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  margin-right: 1em;
  margin-left: 1em;
  font-weight: lighter;
  border-radius: 8px;
  border-width: 8px 6px 0;
  border-bottom-width: 0;
  padding: 10px 30px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  color: #ffffff;
  background-color: #3498DB;
  white-space: normal;
}

.submitButton:hover,
.submitButton:focus {
  color: #ffffff;
  background-color: #16A085;
  border-color: #48c9b0
}

.createButton:hover,
.createButton:focus {
  color: #ffffff;
  background-color: #2980B9;
  border-color: #48c9b0
}

.topContainer {
  display: flex;
  justify-content: center;
  color: white;
  background-color: lightseagreen;
  height: 80px;
  width: auto;
  padding: 10px 20px 0px 20px;
  margin-bottom: 1em;
}

a {
  color: #34A9DC;
  text-decoration: none;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

*:focus {
  outline: none;
}
